---
title: General Armory of the Republic of Malta
description: Arms and symbols of the modern Republic of Malta
layout: default
image: /assets/img/identity/general-armory.webp
---

<div class="container">
    <div class="row">
        {% comment %} Creates an array of names and a mapping of names to arms {% endcomment %}
        {% assign sort_names = "" | split: "" %}

        {% comment %} Creates an array of names and a mapping of names to arms {% endcomment %}
        {% assign armorial = site.data.arms %}
        {% for arms in armorial %}
            {% assign sort_names = sort_names | push: arms[1].sort_name %}
        {% endfor %}

        {% comment %} Sorts the names naturally {% endcomment %}
        {% assign sorted_names = sort_names | sort_natural %}

        {% assign current_first_letter = "!" %}

        {% comment %} Loops through sorted names and displays information {% endcomment %}
        {% for name in sorted_names %}
        {% assign first_letter = name | slice: 0, 1 %}
        {% if current_first_letter != first_letter %}
        {% assign current_first_letter = first_letter %}
        <h1>{{ current_first_letter }}</h1>
        {% endif %}

        {% assign armorial = site.data.arms %}
        {% for arms in armorial %}
        {% if arms[1].sort_name == name %}
        {% assign named_arms = arms[1] %}
        <div class="card">
            <div class="card-body mt-n4">
                <h4 class="card-title">{{ named_arms.name }}</h4>
                <h6 class="card-subtitle mb-2 text-muted">
                    {{ named_arms.grantee }},
                    {% if named_arms.country %}{{ named_arms.country }},{% endif %}
                    {{ named_arms.date | date: "%Y" }}{% if named_arms.posthumous %}<sup>&dagger;</sup>{% endif %}
                </h6>
                <p>
                    {% if named_arms.blazon.arms %}
                    {{ named_arms.blazon.arms.en }}
                    {% endif %}
                    {% if named_arms.blazon.coronet %}
                    <em>Coronet</em> &mdash; {{ named_arms.blazon.coronet.en }}
                    {% endif %}
                    {% if named_arms.blazon.crest %}
                    <em>Crest</em> &mdash; {{ named_arms.blazon.crest.en }}
                    {% endif %}
                    {% if named_arms.blazon.supporters %}
                    <em>Supporters</em> &mdash; {{ named_arms.blazon.supporters.en }}
                    {% endif %}
                    {% if named_arms.blazon.compartment %}
                    <em>Compartment</em> &mdash; {{ named_arms.blazon.compartment.en }}
                    {% endif %}
                    {% if named_arms.blazon.decorations %}
                    <em>Decorations</em> &mdash; {{ named_arms.blazon.decorations.en }}
                    {% endif %}
                    {% if named_arms.blazon.manteau %}
                    <em>Manteau</em> &mdash; {{ named_arms.blazon.manteau.en }}
                    {% endif %}

                    {% if named_arms.blazon.motto %}
                        {% assign motto = named_arms.blazon.motto %}
                        {% if motto.first.text %}
                            {% for item in motto %}
                                <em>{% if item.type %}{{ item.type }}{% else %}Motto{% endif %}</em>
                                &mdash;
                                {{ item.text }} {% if item.origin %}({{ item.origin }}){% endif %}.
                            {% endfor %}
                        {% else %}
                        <em>Motto</em> &mdash; {{ motto.text }}.
                        {% endif %}
                    {% endif %}
                </p>
                <p>
                    {% if named_arms.blazon.badge %}
                    <em>Badge</em> &mdash; {{ named_arms.blazon.badge.en }}
                    {% endif %}
                </p>
                <p>
                    {% if named_arms.blazon.standard %}
                    <em>Standard</em> &mdash; {{ named_arms.blazon.standard.en }}
                    {% endif %}
                </p>
                <p>
                    {% if named_arms.blazon.banner %}
                    <em>Banner</em> &mdash; {{ named_arms.blazon.banner.en }}
                    {% endif %}
                </p>
                <p>
                    {% if named_arms.blazon.gonfalon %}
                    <em>Gonfalon</em> &mdash; {{ named_arms.blazon.gonfalon.en }}
                    {% endif %}
                </p>

            </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
</div>
