<footer class="footer">
  <div class=" container ">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-xs-12 col-12 mb-2 my-auto">
        <div class="row text-lg-left text-lg-left text-md-center text-xs-center my-auto">
          <div class="col-2 my-auto mr-0 pr-0 basu-howard-flag">
            <a href="https://basuhoward.org">
              {% svg "/assets/img/identity/bh-flag-1x1.svg" class="basu-howard-banner" width="50%" %}
            </a>
          </div>
          <div class="col-10 ml-n3 pl-0 my-auto">
            <h6 class="mb-0">araldika.mt</h6>
            <h6 class="mb-0">A website of the <a href="https://basuhoward.org">House of Basu-Howard</a></h6>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 col-12 text-lg-right text-lg-right text-md-center text-xs-center text-center my-auto">
        <h6 class="mb-0">&nbsp;</h6>
        <h6 class="mb-0 copyright" id="copyright">Copyright &copy; 2023-{{ 'now' | date: "%Y" }} the House of Basu-Howard</h6>
      </div>
    </div>
  </div>
</footer>
